VITE_API_BASE_URL=/api

VITE_FIREBASE_API_KEY=AIzaSyBk9cWgigRYJ4Si4JZ3a874ApswTAQvgWY
VITE_FIREBASE_AUTH_DOMAIN=enci---respaldo.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=enci---respaldo
VITE_FIREBASE_STORAGE_BUCKET=enci---respaldo.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=192766470210
VITE_FIREBASE_APP_ID=1:192766470210:web:ceaf3ae35b1681b458e5db
VITE_FIREBASE_MEASUREMENT_ID=G-WDBJB9JNXH
